/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    height: 100vh;

}

button {
    color: #fff;
}

h2.titulo {
    font-size: 32px;
    text-align: center;
    color: #fff;
}
h2.titulo span {
    color:#ca2df1;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{display: flex;}


/* Estilo do cabeçalho */
header {
    padding: 40px 4%;

}
header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header div.logo > a {
    font-family: 'Licorice', cursive;
    color:#ca2df1;
    font-size: 50px;
}
header div.logo a:hover {
    text-shadow: 0 0 20px #ffffff6c;
    cursor: default;
}
header div.logo > a > span {
    font-family: 'Licorice', cursive;
    color: #bababa;     
}

header a {
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
header a:hover{
    color: #fff;
    transform: scale(1.10);
}

header nav ul {
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

header .btnContato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #ca2df1;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}
header .btnContato button:hover{
    box-shadow: 0px 0px 15px #ca2df1;
}


/* Estilo do topo do site */
section.topoSite{
    padding: 40px 4%;
}

section.topoSite .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

main .btnContato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #ca2df1;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}
main .btnContato button:hover{
    box-shadow: 0px 0px 15px #ca2df1;
    transform: scale(1.05);
    transition: .2s;
}

.topoSite h1{
    color:#fff;
    font-size: 40px;
    line-height: 40px;
}

.topoSite h1 span{
    color: #ca2df1;
}

.topoSite .txtTopoSite p {
    color: #fff;
    margin: 40px 0;
}

.topoSite .imgTopoSite {
    animation-name: flutuar;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

/* ESTILO DAS ESPECIALIDADES  */
section.especialidades{
    padding: 40px 4%;
}

section.especialidades .flex {
    gap: 60px;
}
section.especialidades .especialidadesBox {
    color: white;
    padding: 40px;
    margin-top: 50px;
    border-radius: 30px;
    transition: .2s;
    cursor: pointer;

}

section.especialidades .especialidadesBox:hover{
    transform: scale(1.02);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.205);
}

section.especialidades .especialidadesBox i{
    color:#ca2df1;
    font-size: 65px;
}

section.especialidades .especialidadesBox h3{
    font-size: 28px;
    margin: 15px 0;
}

/* Estilização da Pt.Sobre mim */
section.sobre {
    padding: 65px 4%;
}

section.sobre .flex{
    align-items: center
}

.sobre .txtSobre {
    color: #fff; 
}

.sobre .txtSobre h2{
    font-size: 42px; 
    line-height: 40px; 
    margin-bottom: 30px;}

.sobre .txtSobre h2 span{
    color:#ca2df1;
    display: block;
}

.sobre .txtSobre p {
    margin: 20px 0;
    text-align: justify;
}

.sobre .txtSobre button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color:#ca2df1;
    font-size: 22px;
    cursor: pointer;
    margin: 0 6px;
    transition: .2s;
}
.sobre .txtSobre button:hover{
    transform: scale(1.04);
    box-shadow: 0 0 20px #ce09ffa0;
}

.sobre .imgSobre img {
    width:70%;
    border-radius: 30px;
}