/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #0b0b0b;
    height: 100vh;

}

button {
    color: #fff;
}

h2.titulo {
    font-size: 32px;
    text-align: center;
    color: #fff;
}
h2.titulo span {
    color:#ca2df1;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{display: flex;}

.backgroundInicio {
    background-image: url(images/backgroundTopo.png); 
    background-size: cover;
}






/* Estilo do cabeçalho */
header {
    padding: 40px 4%;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.8711134111847865) 0%, rgba(0,0,0,0) 100%);
    z-index: 2;
}
header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header div.logo > a {
    font-family: 'Licorice', cursive;
    color:#ca2df1;
    font-size: 50px;
}
header div.logo a:hover {
    text-shadow: 0 0 20px #ffffff6c;
    cursor: default;
}
header div.logo > a > span {
    font-family: 'Licorice', cursive;
    color: #bababa;     
}

header a {
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
header a:hover{
    color: #fff;
    transform: scale(1.10);
}

header nav ul {
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

header .btnContato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #ca2df1;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}
header .btnContato button:hover{
    box-shadow: 0px 0px 15px #ca2df1;
}







/* Estilo do topo do site */

section.topoSite{
    padding: 60px 4%;
}

section.topoSite .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

main .btnContato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #ca2df1;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}
main .btnContato button:hover{
    box-shadow: 0px 0px 15px #ca2df1;
    transform: scale(1.05);
    transition: .2s;
}

.topoSite h1{
    color:#fff;
    font-size: 40px;
    line-height: 40px;
}

.topoSite h1 span{
    color: #ca2df1;
}

.topoSite .txtTopoSite p {
    color: #fff;
    margin: 40px 0;
}

.topoSite .imgTopoSite {
    animation-name: flutuar;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}







/* ESTILO DAS ESPECIALIDADES  */
section.especialidades{
    padding: 60px 4%;
    width: 100%;
}

section.especialidadesBg {
    background-color:#0b0b0b;
}

section.especialidades .interface {
    margin-top: 60px;
}

section.especialidades .flex {
    gap: 60px;
}
section.especialidades .especialidadesBox {
    color: white;
    padding: 40px;
    margin: 100px 0;
    border-radius: 30px;
    transition: .2s;
    cursor: pointer;

    background: #ca2df1;
    background: linear-gradient(140deg, #ca2df1 50%, rgba(0,0,0,1) 50%);
    background-position-x: -60px;
    background-size: 1200px;
}

section.especialidades .especialidadesBox:hover{
    transform: scale(1.02);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.205);
    background-position-x: 460px;
}

section.especialidades .especialidadesBox i{
    color:#ffffff;
    font-size: 65px;
}

section.especialidades .especialidadesBox h3{
    font-size: 28px;
    margin: 15px 0;
}

section.especialidades .especialidadesBox:hover > h3 {
    color:#c326ea;
    transition: .2s;
}
section.especialidades .especialidadesBox:hover > i {
    color:#c326ea;
    transition: .2s;
}






/* Estilização da Pt.Sobre mim */


section.sobre {
    padding: 80px 4%;
    background-color:rgb(142, 13, 171);
}

section.sobre .flex{ 
    align-items: center;
    gap: 80px;
}

.sobre .txtSobre {
    color: #fff; 
}

.sobre .txtSobre h2{
    font-size: 42px; 
    line-height: 40px; 
    margin-bottom: 30px;}

.sobre .txtSobre h2 span{
    color:#ca2df1;
    display: block;
}

.sobre .txtSobre p {
    margin: 20px 0;
    text-align: justify;
}

.sobre .txtSobre button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;

    background: linear-gradient(225deg, rgba(0,0,0,1) 50%, rgba(236,0,255,1) 50%);
    background-size: 1000px;
    background-position-x: -100px;

    
    font-size: 35px;
    color: white;
    text-align: center;
    cursor: pointer;
    margin: 40px 6px;
    transition: .4s;
}
.sobre .txtSobre button:hover{
    transform: scale(1.10);
    box-shadow: inset 0px 0px 200px rgba(175, 4, 210, 0.84);
    text-shadow:rgb(0, 0, 0);
    background-position: 100px;
}

.sobre .imgSobre img {
    width:100%;
    padding: 20px 0;
    border-radius: 30px;
}





/* Estilo sessão portfólio  */

section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 45px 5px #ca2df12a; 
}

section.portfolio .flex {
    gap: 80px;
    margin: 40px 0;
    justify-content: space-around;
}

.imgPort {
    margin-top: 20px;
    width: 360px;
    height: 460px;
    background-color:#ca2df1;
    background-size: cover;
    background-position: 100% 0%;
    cursor: pointer;
    border-radius: 40px;
    transition: 6s;
    position: relative;

    box-shadow: 0 0 20px 2px rgba(255, 255, 255, 0.079);
}

.imgPort:hover {
    background-position: 100% 100%;
    transform: scale(1.06);
}

.imgPort .overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .2s;
    border-radius: 40px;
}

.imgPort:hover .overlay {
    opacity: 1;
}





/* ESTILO RODAPÉ  */

section.rodape{
    padding: 60px 4% 20px 4%;
    color: #fff;
}

section.rodape .flex{
    align-items: center;
    text-align: justify;
    justify-content: space-around;
    gap: 60px;
}

section.rodape .interface {
    margin: 0px 0px 40px 0px;
}

section.rodape .elementsRight {
    border-right: 2px solid #7d7d7d39;
}

footer {
    background: rgb(154,0,255);
    background: linear-gradient(0deg, rgba(154,0,255,0.4985643915769433) 0%, #0b0b0b 100%);
}

footer div.logo {
    padding-right: 50px;
    width: max-content;
}

footer div.logo > a {
    font-family: 'Licorice', cursive;
    color:#ca2df1;
    font-size: 50px;
    text-decoration: none;
}
footer div.logo a:hover {
    text-shadow: 0 0 20px #ffffff6c;
    cursor: default;
}
footer div.logo > a > span {
    font-family: 'Licorice', cursive;
    color: #bababa;     
}

section.rodape .btnSocial {
    margin: 20px 0;
}

.rodape .elementsRight button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color:#ca2df1;
    font-size: 22px;
    cursor: pointer;
    margin: 0 6px;
    transition: .2s;
}

.rodape .elementsRight button:hover{
    transform: scale(1.04);
    box-shadow: 0 0 20px #ce09ffa0;
}
















/* \. RESPONSIVIDADES GERAIS ./ */


/*  RESPONSIVIDADE DESKTOP's - Tela média  */
@media screen and (max-width: 1060px){
    /* Estilos gerais */


    /* Inicio - Header */
    .menuDesktop, header .btnContato {
        display: none;
    }


    /*  Inicio - Content  */
    section.topoSite .flex{
        gap: 0px;
    }
}



/* RESPONSIVIDADE DESKTOP's - Tela média menor  */

@media screen and (max-width: 940px){
    /* Estilos gerais */

    .flex{
        flex-direction: column;
    }
    h2.titulo {
        font-size: 38px;
        line-height: 35px;
    }

    .backgroundInicio {
        background-image: url(images/bgTopoMobile.png);
        background-size: cover;
    }


    /* Topo do site */

    section.topoSite {
        padding: 250px 10%;
    }

    section.topoSite .flex {
        gap: 20px;
    }

    .topoSite .imgTopoSite {
        display: none;
    }

    .txtTopoSite {
        margin-bottom: 60px;
        font-size: 20px;
    }

    .topoSite h1 {
        font-size: 55px;
        line-height: 50px;
    }

    .topoSite .btnContato button{
        padding: 14px 70px;
        font-size: 20px;
    }




    /* Especialidades  */
    section.especialidades{
        padding: 20px 8%;
    }

    section.especialidadesBg {
        box-shadow: 0 -80px 100px 50px rgba(60, 0, 73, 0.158);
    }

    section.especialidades .flex {
        gap: 30px;
        flex-direction: row;
        margin-top: 80px;
    }

    section.especialidades .especialidadesBox {
        color: white;
        padding: 40px;
        margin: 50px 0;
        border-radius: 30px;
        transition: .2s;
        cursor: pointer;
    
        background: #ca2df1;
        background: linear-gradient(140deg, #ca2df1 50%, rgba(0,0,0,1) 50%);
        background-position-x: 10px;
        background-size: 1800px;
    }
    
    section.especialidades .especialidadesBox:hover{
        transform: scale(1.02);
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.205);
        background-position-x: 700px;
    }
    

    /* Sessão - Sobre  */
    section.sobre {
        padding: 40px 8%;
        margin: 80px 0;
    }

    section.sobre .flex {
        flex-direction: row-reverse;
    }

    .sobre .txtSobre h2 {
        font-size: 38px;
        line-height: 35px;
        text-align: flex-start;
    }

    .sobre .imgSobre img {
        border-radius: 40px;
        width: 100%;
    }

    /* Sessão - Portfólio  */

    section.portfolio {
        padding: 80px 4%;
        box-shadow: 0 0 45px 5px #ca2df12a; 
    }

    section.portfolio .flex {
        gap: 10px;
        flex-direction: row;
    }
    
    .imgPort {
        margin-top: 5%;
        width: 250px;
        height: 400px;
        background-color:#ca2df1;
        background-size: cover;
        background-position: 100% 0%;
        cursor: pointer;
        border-radius: 20px;
        transition: 3s;
        position: relative;
    }

    .imgPort:hover {
        background-position: 100% 100%;
        transform: scale(1.05);
    }


    /* Sessão - Rodapé */

    section.rodape{
        padding: 20px 8% 20px 8%;
        margin: 80px 0 0 0;
        color: #fff;
    }

    section.rodape .flex .elementsRight{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    section.rodape .elementsRight {
        border-right: none;
        border-bottom: 2px solid #ca2df1;
    }

    .rodape .btnSocial {
        margin: 0px;
    }
    
    .rodape .btnSocial button{
        width: 45px;
        height: 45px;
        border-radius: 50%;
        font-size: 120%;
    }
    
    footer div.logo {
        width: max-content;
    }

    .rodape .elementsLeft{
        display: none;
        visibility: hidden; 
    }
}



/* RESPONSIVIDADE TABLET/MOBILE - Tela grande (Esticada) */
@media screen and (max-width: 800px){

    section.topoSite {
        padding: 250px 4%;
    }

    /* Especialidades */
    section.especialidades .flex {
        flex-direction: column;
    }

    section.especialidades .especialidadesBox {
        background: linear-gradient(140deg, #ca2df1 50%, rgba(0,0,0,1) 50%);
        background-position-x: -130px;
        background-size: 1800px;
    }
    
    section.especialidades .especialidadesBox:hover{
        transform: scale(1.02);
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.205);
        background-position-x: 800px;
    }

    /* Sessão - sobre  */

    section.sobre {
        margin: 80px 0 20px 0;;
    }
}

@media screen and (max-width: 650px){

    /* Inicio - Content */
    section.topoSite {
        padding: 180px 10%;
    }

    section.topoSite .txtTopoSite h1 {
        font-size: 45px;
    }

    .txtTopoSite p {
        font-size: 16px;
    }

    .topoSite .btnContato button {
        padding: 10px 40px;
        font-size: 18px;
    }


    /* Sessão - sobre  */
    section.sobre .flex {
        flex-direction: row;
    }

    section.sobre .imgSobre img {
        width: 120%;
    }


    /* Sessão - Portfolio */
    .imgPort {
        height: 300px;
        border-radius:30px;
    }
    .imgPort .overlay {
        border-radius: 30px;
    }
}

@media screen and (max-width: 550px){

    /* Especialidades */
    section.especialidadesBg{
        background-color: rgba(60, 0, 73, 0.158);
    }

    /* Sessão - sobre */
    section.sobre {
        margin: 150px 4% 0 4%;
    }
    section.sobre .flex {
        flex-direction: column-reverse;
        gap: 40px;
    }

    section.sobre .imgSobre img {
        display: none;
    }

}









/* SCROLL REVEAL  */

section.topoSite{visibility: hidden;}
section.especialidades {visibility: hidden;}
section.sobre {visibility: hidden;}
section.portfolio{visibility: hidden;}